.header_row{
	width:100%;
	margin-top:40px;
}
.logo_img {
	float:left;
	width:auto;
}
.logo_img img{
	width:45px;
	float:left;
}
.logo_img h2{
	display:inline-block;
	color:#FF2D20;
	margin-left: 20px;
	font-weight: 500;
}
.nav_list{
	float:left;ss
	width:auto;
}
.navigation_menu{
	display:flex;
	padding: 18px;
}
.navigation_menu li{
	margin-left:10%;
	font-size: 16px;
}
.navigation_menu li a i{
	float: right;
	width: 0px;
	margin-top: 3px;
}
.navigation_menu li a span{
	margin: 0px 8px 0px 0px;
}
.navbar_search{
	float:right;
	display:inline-block;
	position:relative;
}
.navbar_search span{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin-top: 13px;
}
.navbar_search span i{
	font-size: 18px;
	color:#18181F;
}	
.navbar_search input{
	border:none;
	border-bottom:1px solid #d7d7dc;
	padding-left: 2em;
}
/*===========  navabar submenu css ============ */
.sub_menu{
  position: relative;
  display: inline-block;
}
 .dropbtn:focus {
  background-color: #2980B9;
}
.submenu-content{
  display: none;
  position: absolute;
  background-color: #FFFFFF;
  overflow: auto;
  z-index: 1;
  -webkit-transform: translateX(-54%);
  top: 100%;
  left: 50%;
  margin: 0;
  width: 55em;
  box-shadow: 0 20px 30px -16px rgba(9,9,16,.2);
}
.submenu-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.sub_content{
	box-shadow:0px 20px 30px -16px rgba(9,9,16,.2);
	width: 29%;
	float: left;
	padding:16px;
	margin: 22px 16px 0px 20px;
	background-color:#FFFFFF;
}
.sub_content span{
	float: left;
	width: auto;
	margin-right: 12px;
}
.submenu_list{
	margin-top:14px;
}
.submenu_list li{
	font-size: 21px;
	line-height: 0.9;
}
.submenu_list li small{
	font-size: 12px;
	color:#CFCFD0;
}
