/*============banner css============ */
.banner_page{
	background-color:#F5F5FA;
	height: 45px;
	width: 35%;
	margin-top: 40px;
}
.banner_icon{
	float:left;
	background-color:#4099DE;
}
.banner_icon i{
	padding:8px;
	font-size:29px;
	color: white;
}
.banner_content{
	padding:3px;
}
.banner_content small{
	font-size:15px;
	margin-left: 15px;
	color:#CFCFD4;
}
.banner_content small a i{
	padding:10px;
}
/*=========== Heading Content section ============ */
.heading_detail{
	width:100%;
	float:left;
	position:relative;
	margin-top: 20px;
}
.heading_content{
	float:left;
}
.heading_content h1{
	width:60%;
	font-weight:600;
	margin: 96px 0px 41px 0px;
}
.heading_content p{
	display: inline-block;
	width: 52%;
	margin-bottom: 0px;
	color: #C1C1C3;
	font-size: 16px;
	line-height: 30px;
	margin-bottom: 31px;
}
.content_img{
	position: absolute;
	right: 0;
	z-index: -1;
}
.content_img img{
	width:83%;
}
.heading_button button{
	margin-right:21px;
}
.heading_button button span{
	height: 25px;
	width: 25px;
	background-color: #FF2D20;
	border-radius: 50%;
	display: inline-block;
	margin-right: 7px;
}
.heading_button button span i{
	font-size: 13px;
	margin-left: 4px;
	color:white;
}
/*=========== Ecosystem Content section ============ */
.ecosystem_content{
	float:left;
	width:100%;
}
.ecosystem_heading{
	text-align:center;
	margin-top: 13%;
	margin-bottom: 7%;
}
.ecosystem_heading span{
	color:#919193;
	font-size: 14px;
	font-weight: 500;
}
.ecosystem_heading h1{
	font-weight:600;
	margin-top: 16px;
}
/*=========== Resource Content section ============ */
.resource_content{
	float:left;
	width:100%;
	position:absolute;
}
.resource_heading{
	float:left;
	width:100%;
	position:relative;
	margin-top: 150px;
}
.resource_heading small{
	color: #848487;
	font-size: 14px;
	font-weight: 500;
}
.resource_heading h1{
	font-weight:600;
	margin: 32px 0px 45px 0px;
}
.resource_heading p{
	display: inline-block;
	color: #525257;
	font-size: 18px;
	line-height:normal;
	margin-bottom: 35px;
	font-weight: 300;
}
.resource_list{
	float: left;
	width: 100%;
	display: inline-block;
}
.resource_list li{
	float: left;
	width: 50%;
	margin-bottom: 11px;
	font-weight: 600;
}
.resource_list li i{
	margin-right:9px;
	color:#FF473B;
}
.feature_content{
	float: left;
	width: 83%;
	box-shadow: 0px 20px 30px -16px rgba(9,9,16,.2);
	margin:160px 0px 0px 0px;
	position: relative;
	margin: 218px 0px 0px 115px;
}
.feature_heading{
	float: left;
	padding: 36px;
	margin: 0px 16px 22px 20px;
	
}
.feature_heading small{
	color: #848487;
	font-size: 14px;
	font-weight: 500;
}
.feature_heading h3{
	font-weight:500;
	margin: 20px 0px 32px 0px;
}
.feature_heading p{
	width: 82%;
	margin-bottom: 24px;
	line-height: normal;
}
.feature_heading button i{
	margin-left:6px;
}
.Lararolecasts{
	height:100px;
	width:99px;
	background-color:black;
	text-align:center;
	position:absolute;
	right:0;
	top:0;
	bottom:0;
	margin: 40px -33px 0px 0px;
}
.Lararolecasts span i{
	color:white;
	margin-top: 23px;
	font-size: 54px;
	color: white;
}
